<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of Combinations</title>
  <%- include('partials/include-css.ejs') %>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/include-js.ejs') %>
</body>

</html>